################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/WotConverter
/src/WotConverterCLI/obj
/src/WotConverterCore/obj
/src/WotConverterCLI/bin
/src/WotConverterCore/bin
/.vs/
/src/.vs/
/src/.vs/ProjectEvaluation/wotconverter.metadata.v7.bin
/src/.vs/ProjectEvaluation/wotconverter.projects.v7.bin
