################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/WotConverter
/src/WotConverterCLI/obj/*
/src/WotConverterCore/obj/*
/src/WotConverterCLI/bin/*
/src/WotConverterCore/bin/*
/.vs/*
/src/.vs/*
/src/DTDLWotConverter/obj
/src/DTDLWotConverter/bin/*
/src/WotConverterDTDL/bin/*
/src/WotConverterDTDL/obj/*
/src/realease/*
/src/WotConverterDTDL/bin/*
